$color_blanco: white;
$color_head2: rgb(86,86,231);
$color_head3: brown;
$color_fuente: black;
$color_fuente_alternativo: white;
$color_boton01: #00529c;
$color_fondo_principal: whitesmoke;

h1 {
    color: $color_blanco;
}

h2 {
    color: $color_head2;
}

h3 {
    color: $color_head3;
}